<!-- Toolbar -->
<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Software Architect</span>
  <span class="example-spacer"></span>
  <!-- User -->
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <button mat-menu-item>
      <mat-icon>account_box</mat-icon>
      <span>Profile</span>
    </button>
    <button mat-menu-item>
      <mat-icon>power_settings_new</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
  <!-- Settings -->
  <button mat-icon-button [matMenuTriggerFor]="settingMenu">
    <mat-icon>settings</mat-icon>
  </button>
  <mat-menu #settingMenu="matMenu">
    <button mat-menu-item (click)="fa()">
      <mat-icon>format_textdirection_r_to_l</mat-icon>
      <span>Farsi</span>
    </button>
    <button mat-menu-item (click)="en()">
      <mat-icon>format_textdirection_l_to_r</mat-icon>
      <span>English</span>
    </button>
  </mat-menu>
</mat-toolbar>
<!-- SideNav -->
<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="sideNavMode" opened [(opened)]="isSideBarOpened">
    <mat-action-list>
      <button mat-list-item class="list-item" (click)="sideBarClicked('dashboard')"> Dashboard</button>
      <button mat-list-item class="list-item" (click)="sideBarClicked('messages')"> Messages</button>
      <button mat-list-item class="list-item" (click)="sideBarClicked('tasks')"> Tasks</button>
      <button mat-list-item class="list-item" (click)="sideBarClicked('administration')"> Administration</button>
    </mat-action-list>
  </mat-sidenav>
  <mat-sidenav-content style="background-color: #2b2b2b">
  </mat-sidenav-content>
</mat-sidenav-container>
